.detailTweet {
  &-container {
    width: 95%;
    max-width: 1000px;
    min-height: 600px;
    background: white;
    border: solid 1px rgb(242, 242, 242);
    padding: 10px;
    margin: 100px auto;

    & a {
      text-decoration: none;
      color: black;
    }

    &__profileIcon {
      width: 150px;
      height: 150px;
    }
  }

  &-body {
    margin-top: 10px;
    display: inline-block;
    display: block;
    padding: 30px;
    &__message {
      font-size: 1.8rem;
    }
  }

  &-head {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    font-size: 1.5rem;
  }
}
