@mixin actionIcon {
  font-size: 3rem;
}
.newTweet {
  &-container {
    background: white;
    min-height: 220px;
    max-width: 1110px;
    padding: 15px 0;
  }

  &__input {
    height: 150px;
    width: 80%;
    max-width: 900px;
    padding: 15px;
    vertical-align: top;
  }

  &-bottomBox {
    & .bottomBox-rightSide {
      text-align: right;
      width: 94%;
      margin-top: 10px;

      &__count {
        display: inline-block;
        margin-right: 10px;
      }

      &__button {
        display: inline-block;
      }

      & .countover {
        color: red;
      }
    }
  }

  &-imagesBox {
    max-height: 900px;
    input[type="file"] {
      display: none;
    }

    &--if {
      display: inline;
    }

    &__wrapper {
      display: inline;
      background: white;
      margin: 50px 0 400px 0;
      border-top: 1px dashed;
    }

    &__image {
      position: relative;
      display: inline;
    }

    &__button {
      display: inline-block;
      // position: relative;
    }

    &__icon {
      &--plus {
        @include actionIcon;
      }

      &--delete {
        @include actionIcon;

        position: absolute;
        top: -160px;
        right: 10px;

        &--one {
          top: -160px;
          right: -1050px;
        }
      }
    }
  }
}
