.tweet {
  &-container {
    min-height: 150px;
    background: white;
    margin-top: 15px;
    border: solid 1px rgb(242, 242, 242);
    padding: 10px;

    & a {
      text-decoration: none;
      color: black;
    }

    &:last-child {
      margin-bottom: 100px;
    }

    &__profileIcon {
      width: 100px;
      height: 100px;
    }
  }

  &-body {
    margin-top: 10px;
    display: inline-block;
    display: block;

    &__message {
      font-size: 1.5rem;
    }
  }

  &-head {
    display: inline-block;
    vertical-align: top;
  }

  &__image {
    max-height: 400px;
    display: inline-block;
    margin-bottom: 15px;
    &--one {
      width: 100%;
    }

    &--two {
      width: 49%;
    }

    &--three {
      width: 49%;
      height: 50%;
    }

    &--four {
      width: 49%;
      height: 50%;
    }
  }

  &-bottom {
    &--if {
      display: inline;
    }

    &__images {
      display: inline;
      background: white;
      margin: 50px 0;
      border-top: 1px dashed;
    }
  }
}
