.tweet {
  &-container {
    height: 150px;
    width: 700px;
    background: white;
    margin-bottom: 15px;
    border: solid 1px rgb(242, 242, 242);
    padding: 10px;

    &__profileIcon {
      width: 100px;
      height: 100px;
    }
  }

  &-body {
    display: inline-block;

  }
}