.tweet {
  &-container {
    min-height: 150px;
    width: 700px;
    background: white;
    margin-bottom: 15px;
    border: solid 1px rgb(242, 242, 242);
    padding: 10px;

    &__profileIcon {
      width: 100px;
      height: 100px;
    }
  }

  &-body {
    margin-top: 10px;
    display: inline-block;
  }

  &-head {
    display: inline-block;
    vertical-align: top;
  }
}